/* Reset styles */

html {
  height: 100%;
}

body {
  margin:0px;
  padding:0px;
  height: 100%;
}

div {
  margin:0px;
  padding:0px;
}

h1, h2, h3, h4, h5, p, table, a {
  margin-top: 0px;
}

h1, h2, h3, h4 {
  text-align: center;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

ul {
  list-style-position: inside;
  list-style-type: none;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

/* Reference Styles */

.round-corners {
	border-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
}

.transparency {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* Utility styles */

.clear {
  clear: both;
}

/* Site styles */

body {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

h4 {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#main {
  margin: 0px auto auto auto;
  width: 720px;
}

#header {
  position: relative;
  height: 72px;
  background-color: #000000;
}

#logo {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 189px;
  height: 40px;
  background-image: url(../images/logo.gif);
}

#menu {
  float: left;
  width: 180px;
  padding-top: 8px;
  padding-bottom: 32px;
  font-weight: bold;
  color: #ff0000;
  background-color: #000000;
}

.menu-item-active {
  color: #ffffff;
}

.menu-level-1 {
  padding: 8px 8px 0px 16px;
  cursor: pointer;
}

.menu-level-2-container {
  display: none;
}

.menu-level-2 {
  padding: 8px 8px 0px 32px;
  cursor: pointer;
}

#content-area {
  float: right;
  width: 540px;
  min-height: 540px;
  background-color: #000000;
}

#content-fractal {
  width: 540px;
  height: 540px;
  background-image: url(../images/fractal1-540x540.jpg);
  background-repeat: no-repeat;
}

#content {
  margin: 32px;
  min-height: 476px;
  background-color: #000000;
}

/* Equation balancer */

.algebra-tile-x {
	border: 2px solid #990022;
	width: 68px;
	height: 112px;
	background-color: #cc0000;
}

.algebra-tile-1 {
	border: 2px solid #006622;
	width: 68px;
	height: 68px;
	background-color: #008800;
}

.algebra-tile .label {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.algebra-tile-x .label {
	margin-top: 44px;
}

.algebra-tile-1 .label {
	margin-top: 26px;
}

#palette {
	position: relative;
	margin-bottom: 24px;
	height: 116px;
}

#palette .algebra-tile {
	float: left;
	margin-right: 16px;
	cursor: pointer;
}

#balance-area {
	position: relative;
	height: 228px;
}

.balance-pan {
	border: 2px solid #ffffff;
	width: 184px;
	height: 20px;
	background-color: #888888;
}

#pan-1 {
	position: absolute;
	left: 0px;
	top: 140px;
}

#pan-2 {
	position: absolute;
	right: 0px;
	top: 140px;
}

#balance {
	position: absolute;
	left: 174px;
	bottom: 0px;
	border: 2px solid #ffffff;
	width: 92px;
	padding: 16px 16px 0px 16px;
	background-color: #888888;
}

.balance-pan .algebra-tile-x {
	position: absolute;
	left: 20px;
	top: -118px;
}

.balance-pan .algebra-tile-1 {
	position: absolute;
	left: 92px;
	top: -74px;
}

.button {
	margin-bottom: 16px;
	border: 2px solid #444444;
	padding-top: 4px;
	width: 88px;
	height: 20px;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
}



